@import "variablen";


html, body {
    height: 100%;
}

body {
    background: #888;
}

.container {
    height: 100%;
    background: white;
    width: 95%;
    color: $body-schrift;

    .logo {
        width: 100%;
    }

    .nav-column {
        background: gray;
    }
    .main-column {
        background: lightblue;
    }
}